<!DOCTYPE html>
<html>
    <head>
        <title>HotelFi</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
       <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1 style="font-family: 'Berkshire Swash', cursive; font-size: 5em; ">HotelFi</h1>
 		<h3 style="font-family: 'Cookie', cursive; color:white; ">Start planning your trip today</h3>
 		<hr>
		<a href="/hotels" class="btn btn-lg btn-success"><i class="fa fa-bed" aria-hidden="true"></i> View All hotels</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>